
<div class="d-flex" id="wrapper" style="height: fit-content;">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Menu</div>
    <div class="list-group list-group-flush">
      <a
        class="list-group-item list-group-item-action list-group-item-light p-3"
        (click)="this.navigatePage('sinhvien')"
        >Student Dashboard</a
      >
      <a
        class="list-group-item list-group-item-action list-group-item-light p-3"
		(click)="this.navigatePage('nhanvien')"
        >Employee Dashboard</a
      >
      <a
        class="list-group-item list-group-item-action list-group-item-light p-3"
       
        >Overview</a
      >
      <a
        class="list-group-item list-group-item-action list-group-item-light p-3"
       
        >Events</a
      >
      <a
        class="list-group-item list-group-item-action list-group-item-light p-3"
        
        >Profile</a
      >
      <a
        class="list-group-item list-group-item-action list-group-item-light p-3"
        >Status</a
      >
    </div>
  </div>
</div>
